* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* NavBar */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.navbar-brand {
    font-weight: 800;
    font-size: 3ch;
    color: #262626;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.icons i {
    font-size: 15px;
    padding: 10px 20px;
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    float: left;
    background-image: url(./assets/banner.png);
    min-height: 100vh;
    background-size: cover;
    background-position: cover;
    padding: 250px 0 200px;
    margin-bottom: 100px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-txt {
    position: absolute;
    top: 320px;
    bottom: 0;
    right: 120px;
    left: 0;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.new-trend {
    width: 453px;
    letter-spacing: 1pt;
    height: 27px;
    top: 519px;
    left: 908px;
    line-height: 190px;
}

.collusion {
    width: 453px;
    height: 120px;
    top: 30px;
    left: 908px;
    size: 100px;
    letter-spacing: 1pt;
    line-height: 200px;
    padding: 10px, 10px;
    color: #22262A;
    font-style: obliqueS;
    font-weight: bolder;
    font-size: 50px;
}

.banner-desc {
    width: 453px;
    height: 120px;
    top: 527px;
    left: 908px;
    color: #22262A;
    line-height: 30px;
}

.banner-btn-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.banner-btn {
    background-color: #22262A;
    color: white;
    padding: 5px 20px;
    margin: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

/* Grid */
.grid-container {
    margin-top: 120px;
}

.grid-img-btn {
    background-color: white;
    color: black;
    padding: 5px 20px;
    margin: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    justify-content: end;
    align-items: end;
    display: flex;

}

.rectangle-img {
    position: relative;
    width: 100%;
    background-image: url(./assets/rectangle1.png);
    padding: 297px 0 200px;
}

.image-edit {
    background-color: white;
    padding: 30px;
    margin-top: -80px;
}

.dress-txt {
    align-items: center;
    display: flex;
    justify-content: end;
}

/* Women Fashion */
.wf-container {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.price {
    text-decoration: line-through;
}

.discounted-price {
    color: red;
}

/* Footer */
.footer {
    margin-top: 100px;
    width: 100%;
    background-image: url(./assets/footer.png);
    min-height: 100vh;
    background-size: cover;
    background-position: cover;
    padding: 250px 0 200px;
}

.footer-txt {
    top: 300px;
    left: 120px;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

/* Contact */
.location {
    position: absolute;
}

.contact {
    background-color: #F2F8FC;
    padding: 100px;
}

.contact-txt {
    padding: 0 160px 0 160px
}

.copyright {
    padding: 20px;
    text-align: center;
    background-color: #E7F5F8;
}