* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* NavBar */

.navbar-brand {
    width: 164px;
    height: 42px;
    left: 229px;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
}

/*----------- Banner-------------- */



.banner {
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner-txt {
    position: absolute;
    padding: 444px 231px 181px 909px;
}

.new-trend {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
}

.collusion {
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    margin-bottom: 0;
}

.banner-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0;
    inline-size: auto;
}

.banner-btn {
    background-color: #22262A;
    color: white;
    padding: 4px 28px 4px 28px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: none;
}

/* Grid */

.grid-img-btn {
    background-color: white;
    color: black;
    padding: 5px 30px;
    margin: 30px;
    border: 10px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
}

.text-in-image {
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
}

@media screen and (min-width: 1440px) {
    .image-edit {
        background-color: white;
        /* padding: 40px; */
        margin-top: -50px;
    }
}

.image-edit {
    background-color: white;
    padding: 20px;
    margin-top: -50px;
}

.dress-txt {
    align-items: center;
    display: flex;
    justify-content: end;
}

/* Women Fashion */
.wf-container {
    text-align: center;
    margin-top: 120px;
}

.space {
    margin-top: 50px;
}

.ígure-style {
    margin-top: 50px;
    line-height: 22px;
    font-weight: 300;
    font-size: 15px;
}

.igure-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.discounted-price {
    color: #CF2929;
    margin-left: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}



.footer-txt {
    position: absolute;
    padding: 456px 937px 169px 230px;
}

/* Contact */
.location {
    position: absolute;
}

.contact {
    background-color: #F2F8FC;
    padding: 50px;
}

@media screen and (min-width: 1440px) {
    .contact-txt {
        padding: 0 160px 0 160px
    }

    .contact {
        padding: 100px;
    }
}

.social-icons {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

@media screen and (max-width: 1440px) {
    .social-icons {
        margin-bottom: 40px;
    }
}

.underline {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.contact-heading {
    margin-top: 50px;
    font-weight: 600;
}

.copyright {
    padding: 20px;
    text-align: center;
    background-color: #E7F5F8;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.form-input {
    flex-grow: 2;
    border: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}


.button-form {
    /* Just a little styling to make it pretty */
    border: 1px solid white;
    background: white;
    color: black;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}