* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* NavBar */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.navbar-brand {
    font-weight: 800;
    font-size: 3ch;
    color: #262626;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}

.icon-setting {
    margin-right: 15px;
}

.icons i {
    font-size: 15px;
    padding: 10px 20px;
}

/*----------- Banner-------------- */

.banner {
    align-items: center;
    display: flex;
    justify-content: end;
}

.banner-txt {
    position: absolute;
    padding-right: 3%;
    padding-top: 5%;
}

.new-trend {
    letter-spacing: 1pt;
    font-weight: 500;

    margin-bottom: 0;
}

.collusion {
    letter-spacing: 1pt;
    font-weight: 700;

    margin-bottom: 0;
}

.banner-desc {
    font-weight: 500;
    font-size: 10px;
    margin-bottom: 0;
    inline-size: auto;
}

.banner-btn-div {
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
}

.banner-btn {
    background-color: #22262A;
    color: white;
    padding: 3px 15px;
    margin: 2px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 9px;
    border: none;
}

/* 
@media screen and (min-width: 1440px) {
    .banner-txt {
        position: absolute;
        padding-right: 8%;
        padding-top: 10%;
    }

    .new-trend {
        letter-spacing: 1pt;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
    }

    .collusion {

        size: 100px;
        letter-spacing: 1pt;

        font-weight: 700;
        font-size: 80px;

    }

    .banner-desc {
        margin-top: 30px;
        font-weight: 500;
        font-size: 18px;
        inline-size: auto;
        margin-bottom: 0;
    }

    .banner-btn-div {
        display: flex;
        margin-top: 10px;
        justify-content: first baseline;
    }

    .banner-btn {
        background-color: #22262A;
        color: white;
        padding: 5px 20px;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        border: none;
    }
}

@media screen and (max-width: 538px) {
    .banner-txt {
        position: absolute;
        padding-right: 3%;
        padding-top: 5%;
    }

    .new-trend {
        letter-spacing: 1pt;
        font-weight: 500;
        font-size: 6px;
        margin-bottom: 0;
    }

    .collusion {
        letter-spacing: 1pt;
        font-weight: 700;
        font-size: 18px;
    }

    .banner-desc {
        font-weight: 500;
        font-size: 8px;
        inline-size: auto;
        margin-bottom: 0;
    }

    .banner-btn-div {
        display: flex;
        justify-content: flex-start;
    }

    .banner-btn {
        background-color: #22262A;
        color: white;
        padding: 3px 10px;
        margin: 2px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 6px;
        border: none;
    }
} */

/* Grid */

.grid-img-btn {
    background-color: white;
    color: black;
    padding: 5px 20px;
    margin: 10px;
    border: 10px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
}

.text-in-image {
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
}

@media screen and (min-width: 1440px) {
    .image-edit {
        background-color: white;
        padding: 40px;
        margin-top: -50px;
    }
}

.image-edit {
    background-color: white;
    padding: 20px 30px 20px 20px;
    margin-top: -50px;
}

.dress-txt {
    align-items: center;
    display: flex;
    justify-content: end;
}

/* Women Fashion */
.wf-container {
    text-align: center;
    margin-top: 120px;
}

.space {
    margin-top: 50px;
}

.ígure-style {
    margin-top: 50px;
    color: #22262A;
    font-weight: 300;
}

.price {
    text-decoration: line-through;
    color: #22262A;
}

.discounted-price {
    color: #CF2929;
    margin-left: 30px;

}

/* Footer */
/* .footer {
    margin-top: 100px;
    width: 100%;
    background-image: url(./assets/footer.png);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 250px 0 200px;
} */

.footer {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.footer-txt {
    padding-left: 5%;
}

/* Contact */
.location {
    position: absolute;
}

.contact {
    background-color: #F2F8FC;
    padding: 50px;
}

@media screen and (min-width: 1440px) {
    .contact-txt {
        padding: 0 160px 0 160px
    }

    .contact {
        padding: 100px;
    }
}

.social-icons {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

@media screen and (max-width: 1440px) {
    .social-icons {
        margin-bottom: 40px;
    }
}

.underline {
    border-bottom: 1px solid #000;
    padding-bottom: 1px;
}

.contact-heading {
    margin-top: 50px;
    font-weight: 600;
}

.copyright {
    padding: 20px;
    text-align: center;
    background-color: #E7F5F8;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.form-input {
    flex-grow: 2;
    border: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
}


.button-form {
    /* Just a little styling to make it pretty */
    border: 1px solid white;
    background: white;
    color: black;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.temp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}